:root {
  --primary: #2CC990;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.droparea {
  border-radius: 7px;
  border: 2px dashed var(--primary);
  color: var(--primary);
  margin: 0 auto;
  max-width: 480px;
  padding: 36px;
  text-align: center;
  transition: background-color .2s ease-in, color .2s ease-in;
  width: 90%;
}

.droparea.-highlight,
.droparea:hover {
  background-color: var(--primary);
  color: white;
}

.droparea:hover {
  cursor: pointer;
}

.droparea > .input {
  display: none;
}